.infoRow {
	padding: 0.55rem 0rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.infoRow:last-child {
	padding-bottom: 0;
}

.infoIcon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.infoTitle {
	font-size: 0.65rem;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	opacity: 0.6;
	flex: 1;
}

.infoValue {
	font-size: 0.95rem;
	font-weight: 600;
	line-height: 1.2;
	text-align: right;
	user-select: all;
}

.old::after {
	content: " Old";
	font-size: 0.8rem;
	opacity: 0.8;
	text-transform: uppercase;
	margin-left: 0.2rem;
	color: rgb(255, 77, 0);
}

.bad {
	color: rgb(255, 77, 0);
}
