.about {
	text-align: center;
	margin-top: 3rem;
}

.title {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.content {
	gap: 1.5rem;
	display: flex;
	flex-direction: column;
}

.about a {
	text-decoration: underline;
}
