.navbar {
	--navbar-height: 64px;
	display: flex;
	align-items: center;
	padding: 0.75rem 1.5rem;
	gap: 1rem;
	min-height: var(--navbar-height);
	color: white;
	position: sticky;
	top: 0;
	z-index: 1000;
	font-family: "SFMono", monospace;
	user-select: none;
}

.left {
	flex: 0 0 auto;
}

.center {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
}

.right {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	gap: 2rem;
}

.navbar-links {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.link {
	color: white;
	text-decoration: none;
	font-weight: 500;
	transition: all 0.3s;
}

.link:hover {
	transform: scale(1.1);
}

.settingsToggle {
	color: white;
	cursor: pointer;
	transition: all 0.3s ease;
}

.settingsToggle:hover {
	transform: scale(1.1);
}

.title {
	font-size: 1.25rem;
	font-weight: 600;
	text-decoration: none;
	color: white;
	display: flex;
	gap: 0.7rem;
	align-items: center;
	transition: all 0.3s ease;
}
.title:hover {
	transform: scale(1.1);
}

.title img {
	margin-bottom: 0.1rem;
}
