.card {
	padding: 1rem;
	padding-top: 0.7rem;
	max-width: 680px;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.flex {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: 0.5rem;
}

.header h2 {
	font-size: 1.7rem;
	font-family: "SFMono", monospace;
	line-height: 1;
	margin: 0;
}

.close {
	font-size: 1.4rem;
	translate: 0 -2px;
	cursor: pointer;
	transition: all 0.15s ease;
}

.close:hover {
	transform: scale(1.1);
}

.meta {
	display: flex;
	gap: 1rem;
	font-size: 0.875rem;
	opacity: 0.5;
}

.meta2 {
	display: flex;
	gap: 0.25rem;
	align-items: center;
}

.body {
	margin-top: 0.75rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: 0.75rem;
}

.grid strong {
	display: block;
	font-weight: 600;
	margin-bottom: 0.25rem;
}
