.container {
	padding: 0;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	height: 100%;
	min-height: 0;
	position: relative;
}

.header {
	margin-bottom: 1rem;
}

.title {
	font-size: 1.25rem;
	font-weight: 600;
	margin: 0;
}

.content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	min-height: 0;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.blurEdge {
	pointer-events: none;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100px;
	z-index: 10;
}

.blurLeft {
	left: 0;
}

.blurRight {
	right: 0;
}
