.card {
	padding: 1rem;
	padding-top: 0.7rem;
	user-select: none;

	position: absolute;
	left: 50%;
	margin-top: 11rem;
	width: 360px;
	z-index: 20;

	backdrop-filter: blur(7px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(0, 0, 0, 0.1);
	border-radius: 30px;

	opacity: 0;
	pointer-events: none;
	transform: translateX(-50%) scale(0.95);

	transition: opacity 80ms ease, transform 80ms ease;
}

.card.open {
	opacity: 1;
	pointer-events: auto;
	transform: translateX(-50%) scale(1);
}

.header {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.header h2 {
	font-size: 1.7rem;
	font-family: "SFMono", monospace;
	line-height: 1;
}

.close {
	font-size: 1.4rem;
	translate: 0 -2px;
	cursor: pointer;
	transition: transform 0.15s ease;
}

.close:hover {
	transform: scale(1.1);
}

.meta {
	display: flex;
	gap: 1.4rem;
	font-size: 0.875rem;
	opacity: 0.5;
}

.meta2 {
	display: flex;
	gap: 0.25rem;
	align-items: center;
}

.body {
	margin-top: 0.75rem;
	display: flex;
	flex-direction: column;
}
