.card {
	width: 360px;
	padding: 1rem 1rem 0.75rem;
	border-radius: 30px;
	backdrop-filter: blur(7px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition:
		transform 80ms ease,
		opacity 80ms ease;
	user-select: none;
}

.floating {
	position: absolute;
	left: 50%;
	top: 0;
	margin-top: 14rem;
}

.pinned {
	position: relative;
}

.card.open {
	opacity: 1;
	pointer-events: auto;
}

.header {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.controls {
	display: flex;
	align-items: center;
	gap: 0.35rem;
}

.close {
	cursor: pointer;
	transition: transform 0.15s ease;
}

.close:hover {
	transform: scale(1.1);
}

.meta {
	display: flex;
	gap: 1.4rem;
	font-size: 0.875rem;
	opacity: 0.5;
}

.meta2 {
	display: flex;
	gap: 0.25rem;
	align-items: center;
}

.body {
	margin-top: 0.75rem;
}
