.wrapper {
	width: 320px;
	user-select: none;
	position: relative;
}

.floating {
	position: absolute;
	left: 50%;
	top: 0;
	margin-top: 15rem;
}

.pinned {
	position: relative;
}

.cardInner {
	width: 100%;
	padding: 0.6rem 1rem 0.75rem;
	border-radius: 30px;
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(50, 50, 50, 0.2);
	opacity: 0;
	transform: scale(0.9) translateY(10px);
	transform-origin: top center;
	pointer-events: none;
	transition:
		transform 0.2s cubic-bezier(0.16, 1, 0.3, 1),
		opacity 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.wrapper.open .cardInner {
	opacity: 1;
	transform: scale(1) translateY(0);
	pointer-events: auto;
}

.header {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.controls {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.close {
	cursor: pointer;
	transition: transform 0.15s ease;
}

.close:hover {
	transform: scale(1.1);
}

.meta {
	display: flex;
	gap: 1.4rem;
	font-size: 0.875rem;
	opacity: 0.5;
}

.meta2 {
	display: flex;
	gap: 0.25rem;
	align-items: center;
}

.body {
	margin-top: 0.75rem;
}

.popoverContent {
	padding: 0.6rem 1rem;
	border-radius: 30px;
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	z-index: 999;
}

.popoverPrices {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 0.9rem;
}

.popoverPrices > div {
	display: flex;
	justify-content: space-between;
}

.popoverPrices > div::before {
	content: attr(data-label);
	opacity: 0.6;
	margin-right: 2rem;
}

.spacer {
	height: 0.5rem;
}

.price {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	padding: 0.1rem 0.3rem;
	margin-left: -0.1rem;
}
